#inputt {
    width: 90%;
    height: 14%;
    text-align: right;
    font-size: 46px;
    margin: 0;
    font-family: 'Audiowide', serif;
    border: 2px solid black;
    border-radius: 8px;
}

#bttn {
    margin:0;
    width: 22%;
    height: 20%;
    font-size: 46px;
    font-family: 'Audiowide', serif;
    background-color: #27ae60;
    border: 1px solid black;
    border-radius: 7px;
    color: white;
}